/*menu styling*/
.menuBar {
    overflow: hidden;
    background-color: rgba(98,0,0,1.0);
}

.menuBar a {
    float: left;
    font-size: 20px;
    font-family: verdana,  tahoma, sans-serif;
    font-weight: bold;
    color: rgba(164,128,0,1.0);
    text-align: center;
    text-decoration: none;
    padding: 10px 60px;
}

.menuBar a:hover {
    background-color: rgba(164,128,0,1.0);
    color: rgba(98,0,0,1);
}

/*portfolio image and name styling*/
.heroHeader { 
    justify-content: left;
}

.imageContainer {
    justify-content: left;
}

.portfolioImage{
    width: 30%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    margin: 2.5% 0% 2.5% 2.5%;
}

.nameContainer {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    border-radius: 15px;
    background-color: rgba(98,0,0,1.0);
    padding: 0% 0% 1% 5%;
    margin: 1% 1% 5% 1%;
    line-height: 0.1;
}

.nameText {
    font-family: verdana,  tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: grey;
}

.titleText {
    font-family: verdana,  tahoma, sans-serif;
    font-size: 20px;
    color: grey;
}

/*about me section styling*/
.aboutContainer {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    border-radius: 15px;
    background-color: rgba(98,0,0,1.0);
    padding: 5% 5% 5% 5%;
    margin: 1% 1% 1% 1%;
    line-height: 0.1;
}

.title {
    font-family: verdana,  tahoma, sans-serif;
    color: grey;
    font-size: 40px;
    font-weight: bold;
    padding: 0% 0% 5% 0%;
}
  
.text {
    font-family: verdana,  tahoma, sans-serif;
    color: grey;
    padding: 1% 5% 1% 5%;
    line-height: 1.2;
    font-size: 20px;
}

/*academics stlying*/
.academicsContainer {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    border-radius: 15px;
    background-color: rgba(98,0,0,1.0);
    padding: 5% 5% 5% 5%;
    margin: 7.5% 1% 1% 1%;
    line-height: 0.1;
}

.collapsible{
    background-color: rgba(98,0,0,1.0);
    color: grey;
    cursor: pointer;
    padding: 5% 5% 5% 5%;
    margin: 1% 1% 1% 1%;
    width: 98%;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    border-radius: 15px;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: verdana,  tahoma, sans-serif;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: rgba(98,64,64,1.0);
}

.content {
    padding: 0%;
    display: none;
    overflow: hidden;
    background-color: rgba(98,0,0,1.0);
}

.schoolName {
    font-size: 40px;
}

.schoolYears {
    font-size: 20px;
}

.collapsible-body {
    background-color: rgba(98,0,0,1.0);
    border-style: solid;
    border-width: 5px;
    border-color: rgba(164,128,0,1.0);
    border-radius: 15px;
    margin: 1% 1% 1% 1%;
}

.dropdownText {
    text-align: justify;
    text-align-last: center;
    font-family: verdana,  tahoma, sans-serif;
    color: grey;
    font-size: 20px;
    padding: 1% 1% 1% 1%;
    line-height: 1.2;
}

.thesis {
    width: 90%;
    height: 700px;
    padding: 2% 5% 5% 5%;
}

.promoVideo {
    width: 50%;
    padding: 2% 25% 2% 25%
}

/*footer styling*/
.footer {
    color: grey;
    text-align: center;
    font-family: verdana,  tahoma, sans-serif;
  }