/*menu styling*/
.menuBar {
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}

.menuBar a {
    float: left;
    font-size: 20px;
    color: rgba(255,255,255,1);
    text-align: center;
    text-decoration: none;
    padding: 10px 60px;
}

.menuBar a:hover {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}